rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() { return request.auth != null; }
    function isSelf(uid) { return request.auth.uid == uid; }
    function isAdmin() {
      return isSignedIn() && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == "admin";
    }

    match /users/{uid} {
      allow read: if isSignedIn() && isSelf(uid);
      allow create: if isSignedIn() && isSelf(uid);
      allow update: if isSelf(uid) || isAdmin();
      allow delete: if isAdmin();
    }
  }
}
